---
permalink: /404.html
---

<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include navbar.html %}

    <header class="masthead" style="background-image: url({{"/img/bg-page-not-found.jpg" | relative_url }})">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
                <h1>404</h1>
                <span class="subheading">Page not found!</span>
            </div>
            </div>
        </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Oh my Oh my! This was not expected.</h1>
            <p>It seems the resource you were looking for on this server is not here or it has been moved. However you can return to <a href="{{"/" | relative_url }}">Home</a> or find other links to visit :)</p> 
        </div>
        </div>
    </div>

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>


